{% load i18n %}
<style>
    .daterangewidget {
        padding-left: 40px;
        background: url('/static/assets/icons/calendar.svg') no-repeat scroll 6px 6px;
    }
</style>

{% include 'django/forms/widgets/text.html' %}
<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function() {

        const predefined_ranges = now => ({
            '{% blocktranslate with n=6   %}Last {{n}} hours{% endblocktranslate %}': [now().subtract(6, 'hours'),   now()],
            '{% blocktranslate with n=12  %}Last {{n}} hours{% endblocktranslate %}': [now().subtract(12, 'hours'),  now()],
            '{% blocktranslate with n=24  %}Last {{n}} hours{% endblocktranslate %}': [now().subtract(24, 'hours'),  now()],
            '{% blocktranslate with n=7   %}Last {{n}} days{% endblocktranslate %}':  [now().subtract(7, 'days'),    now()],
            '{% blocktranslate with n=15  %}Last {{n}} days{% endblocktranslate %}':  [now().subtract(15, 'days'),   now()],
            '{% blocktranslate with n=30  %}Last {{n}} days{% endblocktranslate %}':  [now().subtract(30, 'days'),   now()],
            '{% blocktranslate with n=90  %}Last {{n}} days{% endblocktranslate %}':  [now().subtract(90, 'days'),   now()],
            '{% blocktranslate with n=180 %}Last {{n}} days{% endblocktranslate %}':  [now().subtract(180, 'days'),  now()],
        });
        const options = Object.assign(
            {
                // DEFAULT_OPTIONS
                // See http://www.daterangepicker.com/
                ranges: predefined_ranges(moment),
            },
            {{ widget.picker.options.json }},
        );

        const cb = function(start, end, label) {
            // update ranges
            const ranges = predefined_ranges(moment);
            const picker = $('#{{ widget.attrs.id }}').data().daterangepicker;
            picker.ranges = ranges;
            if (label in ranges) {
                const range = ranges[label];
                picker.startDate = range[0];
                picker.endDate = range[1];
            }
        };
        $('#{{ widget.attrs.id }}').daterangepicker(options, cb);
        $('#{{ widget.attrs.id }}').attr('autocomplete', 'off');

        {% if widget.picker.clearable %}
            $('#{{ widget.attrs.id }}').on('apply.daterangepicker', function(ev, picker) {

                {% if widget.picker.options.python.singleDatePicker %}
                    $(this).val(picker.startDate.format('{{ widget.picker.options.python.locale.format }}'));
                {% else %}
                    $(this).val(picker.startDate.format('{{ widget.picker.options.python.locale.format }}') + '{{ widget.picker.separator }}' + picker.endDate.format('{{ widget.picker.options.python.locale.format }}'));
                {% endif %}

            });

            $('#{{ widget.attrs.id }}').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        {% endif %}
    });
</script>
