{% extends "layouts/scaffold.html" %}
{% load i18n custom_tags %}

{% block stylesheets %}
{{ block.super }}
<style>
div.c-wrapper {
  background-image: url('/static/assets/img/multicrop_fondo.jpg');
  background-size: cover;
}
div.container {
  background-color: transparent;
}
</style>
{% endblock stylesheets %}

{% block app-content %}
  <div class="c-wrapper flex-row align-items-center">
    <div class="container">
    {% block content %}{% endblock content %}
    </div>
  </div>
{% endblock app-content %}