{% extends "layouts/scaffold.html" %}
{% load i18n custom_tags %}

{% block stylesheets %}
{{ block.super }}
<style>
  .navbar-badge {
      font-size: .6rem;
      font-weight: 300;
      padding: 2px 4px;
      position: relative;
      right: 5px;
      top: -10px;
  }

  .buttonHolder {
      text-align: center;
  }

  .alarms-list .message {
      width: 100%;
  }

  .c-sidebar-brand img {
      padding: 2px;
      object-fit: contain;
      width: 100%;
  }

  .not-active {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black;
      opacity: 0.5;
  }
</style>
{% endblock stylesheets %}

{% block app-content %}
  {% include 'includes/sidebar.html' %}

  <div class="c-wrapper c-fixed-components">
    {% block header %}
    {% include 'includes/navigation.html' %}
    {% endblock header %}

    <div class="c-body">
      <main class="c-main">
        {% block content %}{% endblock content %}
      </main>
    </div>

    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock footer %}
  </div>
{% endblock app-content %}