{% load i18n custom_tags static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="{% trans 'Cold Rooms Control' %}">
  <meta name="author" content="Instamed Ingenieros">
  <meta name="keyword" content="">
  <title>{% block title %}Agrofresh{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  {% block stylesheets %}
  {% static_link 'assets/css/bootstrap.min.css' %}
  {% static_link 'assets/css/font-awesome.css' %}
  {% static_link 'assets/css/daterangepicker.css' %}
  {% static_link 'assets/css/style.css' %}
  {% endblock stylesheets %}
</head>

<body class="c-app">
  {% block app-content %}{% endblock app-content %}

  {% block javascripts %}
  {% static_script 'assets/js/jquery-3.5.1.js' %}
  {% static_script 'assets/vendors/@coreui/coreui/js/coreui.bundle.min.js' %}
  {% static_script 'assets/vendors/@coreui/icons/js/svgxuse.min.js' %}
  {% static_script 'assets/js/moment.min.js' %}
  {% static_script 'assets/js/daterangepicker.min.js' %}
  {{ fields|json_script:"fields" }}
  {{ settings|json_script:"settings" }}
  {% endblock javascripts %}
</body>

</html>