{% load i18n static custom_tags %}
<nav aria-label="Page navigation">
    <form class="pagination form-inline" style="display: inline-block" onsubmit="return onValidateForm(event, this);">
        <div class="form-group form-group-sm">
            <label for="page-number">{% trans 'Page' %}</label>
            &nbsp;
            <input type="number" id="page-number" class="form-control form-control-sm mb-8" min="1"
                max="{{ page_obj.paginator.num_pages }}" value="{{ page_obj.number }}">
            &nbsp;
            <span class="text-muted">{% trans 'of' %} {{ page_obj.paginator.num_pages }}</span>
        </div>
    </form>

    <ul class="pagination pagination-sm" style="float:right">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?{% param_replace page=1 %}"><i
                    class="fa fa-fast-backward"></i></a>
        </li>
        <!--
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?{% param_replace page={{ page_obj.previous_page_number }}"><i class="fa fa-step-backward"></i></a>
        </li>
        -->
        {% endif %}
        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
        <li class="page-item active">
            <a class="page-link" href="{{ base_url }}?{% param_replace page=n %}">{{ n }}</a>
        </li>
        {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?{% param_replace page=n %}">{{ n }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <!--
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?{% param_replace page=page_obj.next_page_number %}"><i class="fa fa-step-forward"></i></a>
        </li>
        -->
        <li class="page-item">
            <a class="page-link" href="{{ base_url }}?{% param_replace page=page_obj.paginator.num_pages %}"><i
                    class="fa fa-fast-forward"></i></a>
        </li>
        {% endif %}
    </ul>
</nav>
<script>
    function onValidateForm(event, form) {
        event.preventDefault();
        const page = form['page-number'].value;
        window.location.replace(`{{ base_url }}?{% param_replace %}&page=${page}`);
        return false;
    }
</script>