{% load i18n static %}

<div id="alarms_table" class="card" style="display: none;">
    <div class="card-header d-flex justify-content-between">
        <span>
            <i class="fa fa-bell"></i>
            {% trans 'Alarms' %}
        </span>

        {% if perms.comms.can_acknowledge_alarms %}
        <button class="btn btn-sm btn-secondary btn-clear-alarm">
            <i class="fa fa-trash mr-2"></i> {% trans "Clear Alarms" %}
        </button>
        {% endif %}
    </div>
    <div class="card-body">
        <table id="table" class="table table-sm"></table>
    </div>
</div>

<script type="module">
    import '/static/d3.v6.min.js';
    import { flatten, getColumns } from "{% static 'comms/js/jsobject.js' %}";
    import { ws } from "{% static 'comms/js/wsockets.js' %}";
    import { getActiveAlarms } from "{% static 'comms/js/alarms.js' %}";

    const fields = JSON.parse(document.getElementById('fields').textContent);
    const settings = JSON.parse(document.getElementById('settings').textContent);
    const unacknowledged = settings.show_unack_alarms;
    const cold_room = '{{ cold_room }}';

    function wsMessageHandler(event) {
        if (event.type !== "message") return;
        const json = { ...JSON.parse(event.data), fields };
        const activeAlarms = getActiveAlarms(json, {cold_room, unacknowledged});
        updateTable(activeAlarms);

        d3.select('#alarms_table')
            // .style("visibility", activeAlarms.length > 0 ? "visible" : "hidden");
            .style("display", activeAlarms.length > 0 ? "block" : "none");
    }

    let cold_rooms = [];
    d3.json("{% url 'api:cold_rooms' %}")
        .then(d => { cold_rooms = d.data; });

    d3.select('.card .btn-clear-alarm').on('click', _ => {
        // TODO dry duplicated code

        const value = '--';
        const body = JSON.stringify(+cold_room > 0
            ? { value, cold_room: +cold_room }
            : { value });

        d3.json("{% url 'comms:ack_alarms' %}", {
            method: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            body,
        })
        // .then(d => JSON.stringify(d.data))
        .then(d => `ack_alarms[cold_room_pk=${d.data.cold_room}]`)
        .then(d => console.log(d));
    });

    function updateTable(data) {
        const table = d3.select('#table');
        const thead = table.join('thead');
        const tbody = table.join('tbody');
        const timeParser = d3.utcParse("%Y-%m-%dT%H:%M:%S.%LZ");
        const timeFormat = d3.timeFormat("%c");
        const timeFmt = dt => dt ? timeFormat(timeParser(dt)) : '';
        const headerText = [
            "{% trans 'Alarm' %}",
            "{% trans 'Start' %}",
            "{% trans 'End' %}",
            "{% trans 'Source' %}",
            "{% trans 'Status' %}",
        ];

        // append the header row
        thead.join('tr')
            .selectAll('th')
            .data(headerText)
            .join('th')
            .text(d => d);

        // create a row for each object in the data
        const rows = tbody.selectAll('tr')
            .data(data)
            .join('tr');

        // create a cell in each row for each column
        const cells = rows.selectAll('td')
            .data(alarm => [
                alarm.desc,
                timeFmt(alarm.ts),
                timeFmt(alarm.ts_end),
                alarm.cold_room,
                alarm.active,
            ])
            .join('td');

        cells.each((d, i, nodes) => {
            const td = d3.select(nodes[i]);
            if (i === 4) {
                td.selectAll('span')
                    .data([d])
                    .join('span')
                    .classed('badge', true)
                    .classed('badge-warning', active => active)
                    .classed('badge-secondary', active => !active)
                    .text(active => active ? "{% trans 'Active' %}" : "{% trans 'Finished' %}");
            } else if (i === 3) {
                const cold_room = cold_rooms.find(c => c.id === +d);
                td.text(d => cold_room?.name || "{% trans 'Unknown' %}")
            } else {
                td.text(d => d);
            }
        });
    }

    ws.subscribe(wsMessageHandler);
</script>