<style>
    .grid-container {
        display: grid;
        grid-template-columns: 0.3fr 1.6fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: ". ."". .";
        height: 25px;
    }

    .measurement {
        font-size: 0.8rem;
        margin-top: -0.5rem;
    }

    img {
        filter: brightness(0) invert(1);
        height: 36px;
        width: 36px;
    }

    .measurement {
        padding: 4px;
    }

    .measurement span {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .loading {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: .25rem;
        align-items: center;
        background-color: rgba(255, 255, 255, .7);
        display: flex;
        justify-content: center;
        z-index: 50;
    }
</style>

<div class="card text-white {{ classcolor }}">
    <div class="card-body pb-0 ">
        <div class="grid-container">
            <img src="{{ imagesrc }}" title="{{ imagetip }}">
            <div class="measurement" data-src="{{ source }}">
                <div><span data-format="{{ format }}"> -- </span> {{ unit }}</div>
                <div>{{ title }}</div>
            </div>
        </div>
    </div>
    <div class="c-chart-wrapper mt-3" style="height:70px;">
        <canvas class="chart" data-src="{{source}}" height="70"></canvas>
    </div>
    <div class="loading">
        <i class="fa fa-cog fa-spin fa-4x "></i>
    </div>
</div>