**
!**/
__pycache__/
.vscode/
env/
staticfiles/
!Dockerfile
!Dockerfile.*
!.dockerignore
!.gitignore
!*.py
!*.yml
!*.html
!*.css
#!*.scss
!*.map
!*.js
!*.json
!*.md
!*.txt
!*.ico
!*.png
!*.svg
!*.jpg
!*.xml
!*.eot
!*.woff
!*.woff2
!*.po
!*.sql
!*.sh
!*.desktop
!*.service
.env
