{% load i18n component_tags custom_tags %}
{% static_link 'css/cards.css' %}

<div id="cold_room{{cold_room.id}}-card" class="card text-white bg-gradient-dark" data-src="{{cold_room.id}}">
    <div class="card-body container">
        <div class="row ">
            <div class="col-sm-8">
                <div class="text-value-lg">{{ cold_room.name }}</div>
            </div>
            <div class="btn-group col-sm-4 d-flex justify-content-end">

                {% if perms.comms.can_set_working_mode %}
                <div class="btn-group p-1 action-buttons" role="group">
                    <a class="mx-2 btn btn-sm btn-square btn-success" style="display: none" href="#" title="{% trans 'Run' %}"><i class="fa fa-power-off"></i></a>
                    <a class="mx-2 btn btn-sm btn-square btn-danger"  style="display: none" href="#" title="{% trans 'Stop' %}"><i class="fa fa-power-off"></i></a>
                    <a class="mx-2 btn btn-sm btn-square btn-info"    style="display: none" href="#" title="{% trans 'Conservation' %}"><i class="fa fa-snowflake-o"></i></a>
                    <a class="mx-2 btn btn-sm btn-square btn-warning" style="display: none" href="#" title="{% trans 'Degreening' %}"><i class="fa fa-circle"></i></a>
                </div>
                {% endif %}

                <div class="btn-group p-1" role="group">
                    <a class="btn btn-sm btn-square btn-light-outline {% if not perms.cold_rooms.can_view_cold_room_detail %}disabled{% endif %}" href="{% url 'cold_room_detail' cold_room.id %}" title="{% trans 'Ir al detalle' %}"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-sm btn-square btn-light-outline {% if not perms.cold_rooms.can_view_cold_room_params %}disabled{% endif %}" href="{% url 'cold_room_params' cold_room.id %}" title="{% trans 'Parámetros' %}"><i class="fa fa-cogs"></i></a>
                    <a class="btn btn-sm btn-square btn-light-outline {% if not perms.historical.can_view_historical_data %}disabled{% endif %}" href="{% url 'historical:cold_room_data' cold_room.id %}" title="{% trans 'Datos históricos' %}"><i class="fa fa-line-chart"></i></a>
                </div>
            </div>
        </div>
        <hr style="border-top: 1px solid rgba(255, 255, 255, 0.8);">
        <div class="row">
            <div class="col-sm-4">
                <div class="state-icons">
                    {% status_icon_items as items %}
                    {% for status_icon in items %}
                    <img data-toggle="tooltip" class="hidden" data-src="{{ status_icon.src }}"
                        title="{{ status_icon.title }}" src="{{ status_icon.imgsrc }}">
                    {% endfor %}
                    <div class="state-workmode"></div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="measurements">
                    {% measurement_items cold_room as items %}
                    {% for measurement in items %}
                    <div {% if forloop.first %}class="measurement chart-active" {% else %}class="measurement"
                        {% endif %} onclick="clickHandler(this, 'cold_room{{cold_room.id}}-card')"
                        data-src="{{ measurement.source }}">
                        <img data-toggle="tooltip" src="{{ measurement.imagesrc }}" title="{{ measurement.imagetip }}">

                        <span data-format="{{measurement.format}}">--</span> {{ measurement.unit }}

                        <img class="icon hidden" data-toggle="tooltip"
                            src="/static/assets/icons/cold_rooms/linechart.png"
                            title="{% trans 'Gráfico en tiempo real' %}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="c-chart-wrapper mt-3">
        <canvas class="chart" height="70"></canvas>
    </div>

    <div class="loading">
        <i class="fa fa-cog fa-spin fa-4x"></i>
    </div>
</div>

{% static_script 'js/cards.js' %}