{% extends "layouts/base.html" %}
{% load i18n static custom_tags component_tags %}
{% trans "Cold Rooms - Index" as title %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type='text/css'>
    .legend-labels {
        display: contents;
    }

    .legend-labels .badge {
        padding: 0px 4px;
        margin: 2px;
        font-size: x-small;
    }

    .cold-room-cards .card i.fa {
        color: white;
    }

    .c-main {
        margin-top: -20px;
    }
</style>
{% endblock stylesheets %}

{% block content %}

{% show_messages messages %}

{% if not cold_rooms %}
<div class="row m-2">{% trans 'no cold rooms defined' %}</div>
{% else %}

<div class="row m-2 cold-room-cards">
    {% for cold_room in cold_rooms %}
    <div class="col-sm-6 col-lg-4 col-xl-3" style="display: flex">
        {% cold_room_card cold_room %}
    </div>
    {% endfor %}
    <div class="legend">
        <div class="col">
            <div class='legend-title'>{% trans 'Working mode' %}</div>
            <div class='legend-scale'>
                <ul class='legend-labels'></ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fade-in">
    {% alarms_table %}
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ block.super }}
{% static_script 'assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js' %}
{% static_script 'assets/vendors/@coreui/utils/js/coreui-utils.js' %}
<script type="module">
    import '/static/d3.v6.min.js'
    import { flatten, getColumns } from "{% static 'comms/js/jsobject.js' %}";
    import { ws } from "{% static 'comms/js/wsockets.js' %}";
    import { CircularBuffer } from "{% static 'comms/js/buffers.js' %}";
    import { Sparkline, N_SAMPLES } from "{% static 'js/sparkline.js' %}";
    import { Writer } from "{% static 'comms/js/writer.js' %}";
    import { confirmDialog } from "{% static 'js/modal.js' %}";

    const writer = new Writer("{% url 'comms:write' %}", "{{ csrf_token }}");
    const clamp = (min, max) => d => Math.min(max, Math.max(min, d));
    const charts  = {};
    const buffers = {};

    const fields = JSON.parse(document.getElementById('fields').textContent);
    d3.selectAll('.cold-room-cards .card').each((_, i, nodes) => {
        const card = d3.select(nodes[i]);
        const coldRoomId = +nodes[i].dataset.src;
        buffers[coldRoomId] = {};

        card.selectAll('.measurement').each((_, i, nodes) => {
            const measurement = nodes[i];
            const source = measurement.dataset.src;
            buffers[coldRoomId][source] = new CircularBuffer(N_SAMPLES);
        });

        const canvas = card.select('.chart').node();
        charts[coldRoomId] = new Sparkline(canvas);
    });

    function wsMessageHandler(event) {
        if (event.type !== "message") return;
        const json = { ...JSON.parse(event.data), fields };

        json.structs.forEach((d, i) => {
            const card = d3.select(`#cold_room${d.cold_room}-card`);
            updateStateIcons(card, d);
            updateBadgeMode(card, d);
            updateMeasurements(card, d);
            updateActionButtons(card, d);
            updateBuffers(d);

            const active = card.select('.chart-active').node();
            const source = active.dataset.src;
            charts[d.cold_room].update(buffers[d.cold_room][source]);

            card.select('.loading').remove();
        });
    }

    function updateBuffers(data) {
        for (const key in buffers[data.cold_room]) {
            buffers[data.cold_room][key].push(data[key]);
        }
    }

    function updateStateIcons(card, data) {
        const stateIcons = card.select('.state-icons')
        if (!stateIcons) return;

        stateIcons.selectAll(".state-icons img").each((_, i, nodes) => {
            const src = nodes[i].dataset.src;
            const value = data[src];
            d3.select(nodes[i]).classed("hidden", !value);
        });
    }

    function updateBadgeMode(card, d) {
        const classes = [
            'bg-gradient-dark',
            'bg-gradient-info',
            'bg-gradient-warning',
        ];

        const mode = d['onOffSystem']
            ? (d['workingMode'] ? modes[1] : modes[2])
            : modes[0];

        card.classed(classes.join(' '), false)
            .classed(mode.class, true);

        const stateWorkmode = card.select('.state-workmode')
        if (!stateWorkmode) return;
        stateWorkmode.text(mode.text);
    }

    function updateMeasurements(card, d) {
        const measurements = card.select('.measurements')
        if (!measurements) return;

        measurements.selectAll(".measurement").each((_, i, nodes) => {
            const propName = nodes[i].dataset.src;
            // Non-negative values for measurements, except temperature related ones
            const clamped = !propName.toLowerCase().includes("temperature");
            const value = clamped
                ? clamp(0, Number.MAX_VALUE)(d[propName])
                : d[propName];

            const span = d3.select(nodes[i]).select("span");
            const fmt = span.node().dataset.format || ".1f";
            const floatFmt = d3.format(fmt);
            span.text(floatFmt(value));
        });
    }

    function updateActionButtons(card, d) {
        const buttons = card.select('.action-buttons')
        if (!buttons) return;

        const runButton = buttons.select(".btn-success");
        const stopButton = buttons.select(".btn-danger");
        const conservationButton = buttons.select(".btn-info");
        const degreeningButton = buttons.select(".btn-warning");

        runButton
            .style("display", d.onOffSystem ? "none" : "block")
            .on("click", _ => confirmDialog(
                "{% trans 'Confirmar' %}",
                "{% trans '¿Poner en marcha cámara?' %}",
                "{% trans 'Yes' %}", "{% trans 'No' %}", ok => {
                    if (!ok) return;
                    writer.write(d.cold_room, { onOffSystem: true });
                }));

        stopButton
            .style("display", d.onOffSystem ? "block" : "none")
            .on("click", _ => confirmDialog(
                "{% trans 'Confirmar' %}",
                "{% trans '¿Parar cámara?' %}",
                "{% trans 'Yes' %}", "{% trans 'No' %}", ok => {
                    if (!ok) return;
                    writer.write(d.cold_room, { onOffSystem: false });
                }));

        degreeningButton
            .style("display", d.onOffSystem && d.workingMode ? "block" : "none")
            .on("click", _ => confirmDialog(
                "{% trans 'Confirmar' %}",
                "{% trans '¿Pasar a desrvedización?' %}",
                "{% trans 'Yes' %}", "{% trans 'No' %}", ok => {
                    if (!ok) return;
                    setWorkingMode(d.cold_room, false);
                }));

        conservationButton
            .style("display", d.onOffSystem && !d.workingMode ? "block" : "none")
            .on("click", _ => confirmDialog(
                "{% trans 'Confirmar' %}",
                "{% trans '¿Pasar a conservación?' %}",
                "{% trans 'Yes' %}", "{% trans 'No' %}", ok => {
                    if (!ok) return;
                    setWorkingMode(d.cold_room, true);
                }));
    }

    const setWorkingMode = async (cold_room, value) => {;
        const result = await d3.json("{% url 'comms:set_working_mode' %}", {
            method: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            body: JSON.stringify({ cold_room, value })
        });
        const { data } = result;
        console.log(`cold_room[pk=${data.cold_room}].workingMode=${data.value}`);
    };

    ws.subscribe(wsMessageHandler);

    // Update cold_room buttons
    $(".update-cold_room").each(function () {
        $(this).modalForm({
            formURL: $(this).data('id')
        });
    });

    // Hide message
    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });

    const modes = [
        {
            text: '{% trans "Stop"|upper %}',
            class: 'bg-gradient-dark',
            color: 'white',
        },
        {
            text: '{% trans "Conservation"|upper %}',
            class: 'bg-gradient-info',
            color: 'white',
        },
        {
            text: '{% trans "Degreening"|upper %}',
            class: 'bg-gradient-warning',
            color: '#212529',
        },
    ];

    const updateVisibility = (event) => {
        const badge = d3.select(event.target);
        const checked = badge.classed('checked');
        const mode = badge.data();

        const visibility = (d, i, nodes) => {
            const parent = d3.select(nodes[i].parentNode);
            parent
                .style("visibility", checked ? "visible" : "collapse")
                .transition().duration(250)
                .style("opacity", checked ? 1 : 0);
        };
        const cards = d3.selectAll(`.card.${mode[0].class}`);
        cards.each(visibility);
    };

    const modeBadges = d3.selectAll('ul.legend-labels')
        .selectAll('li')
        .data(modes, d => d.text)
        .join(enter => enter.append('li')
            .text(d => d.text)
            .attr("class", d => d.class)
            .classed("badge btn checked", true)
            .style("color", d => d.color)
            .on('click', (event) => {
                const badge = d3.select(event.target);
                const checked = !badge.classed('checked');
                badge.classed('checked', checked)
                    .transition().duration(250)
                    .style("opacity", checked ? 1: 0.2);

                updateVisibility(event);
            })
        );

    modeBadges.each((d, i, nodes) => updateVisibility({ target: nodes[i] }));
</script>

{% endblock javascripts %}
